CREATE EXTERNAL TABLE IF NOT EXISTS backend_application_logs_raw (
  logline string
)
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.RegexSerDe'
WITH SERDEPROPERTIES (
  'input.regex' = '^(.*)$'
)
LOCATION 's3://${logs_bucket}/application/'
TBLPROPERTIES (
  'skip.header.line.count' = '0'
);
